<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package Name="wireshark" />
  <package Name="WinPcap" />
  <package Name="winmerge" />
  <package Name="windirstat" />
  <package Name="vlc" />
  <package Name="VisualStudioCode" />
  <package Name="VirtualCloneDrive" />
  <package Name="virtualbox" />
  <package Name="vim" />
  <package Name="vagrant" />
  <package Name="sysinternals" />
  <package Name="SourceTree" />
  <package Name="ScriptCs" />
  <package Name="rubygems" />
  <package Name="ruby" />
  <package Name="python2" />
  <package Name="python" />
  <package Name="PowerShell" />
  <package Name="paint.net" />
  <package Name="NuGet.CommandLine" />
  <package Name="notepadplusplus.install" />
  <package Name="msysgit" />
  <package Name="microsoft-build-tools" />
  <package Name="lockhunter" />
  <package Name="jre8" />
  <package Name="jdk8" />
  <package Name="google-chrome-x64" />
  <package Name="gitpad" />
  <package Name="git.install" />
  <package Name="git" />
  <package Name="DotNet4.5.1" />
  <package Name="Cygwin" />
  <package Name="cyg-get" />
  <package Name="ConEmu" />
  <package Name="ChocolateyGUI" />
  <package Name="chocolatey" />
  <package Name="autohotkey.portable" />
  <package Name="autohotkey.install" />
  <package Name="autohotkey" />
  <package Name="7zip.install" />
  <package id="chocolatey" />
</packages>