<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install"  />
  <package id="autohotkey.portable"  />
  <package id="chocolatey"  />
  <package id="ChocolateyGUI"  />
  <package id="ConEmu"  />
  <package id="DotNet4.5.1"  />
  <package id="git"  />
  <package id="git.install"  />
  <package id="gitpad"  />
  <package id="jdk8"  />
  <package id="jre8"  />
  <package id="lockhunter"  />
  <package id="msysgit"  />
  <package id="notepadplusplus.install"  />
  <package id="NuGet.CommandLine"  />
  <package id="paint.net"  />
  <package id="PowerShell"  />
  <package id="python"  />
  <package id="python2"  />
  <package id="ruby"  />
  <package id="rubygems"  />
  <package id="scriptcs"  />
  <package id="SourceTree"  />
  <package id="sysinternals"  />
  <package id="vim"  />
  <package id="VirtualCloneDrive"  />
  <package id="VisualStudioCode"  />
  <package id="windirstat"  />
  <package id="winmerge"  />
  <package id="WinPcap"  />
  <package id="wireshark"  />
</packages>
